@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #f8f9fa;
}

h1 {
  font-size: 2rem;
}

@layer components {
  .custom-pagination .swiper-pagination-bullet {
    @apply bg-green-600 opacity-50 transition-opacity duration-300;
  }

  .custom-pagination .swiper-pagination-bullet-active {
    @apply bg-green-500 opacity-100;
  }
}

